<!--  <%#= render "shared/#{current_user.admin? ? 'admin' : 'user'}" %>
 <li class="nav-item">
  <%#= link_to dashboard_path, class:"nav-link active" do  %>
  <i class="fa-solid fa-house me-2"></i>
  <span>Dashboard</span>
  <%# end -%>
</li>
<li class="nav-item">
  <%#= link_to properties_path, class:"nav-link active" do  %>
  <i class="fa-solid fa-file me-2"></i>
  <span>Properties</span>
  <%# end -%>
</li>
<hr>
<li class="nav-item">
  <%#= link_to profile_path(current_user), class:"nav-link active" do  %>
  <i class="fa-solid fa-user me-2"></i>
  <span>My Profile</span>
  <%# end -%>
</li> -->
<!--   <li class="nav-item">
    <%#= link_to edit_registration_path, class:"nav-link active" do  %>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file" aria-hidden="true"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
     <span>Account Setting</span>
     <%# end -%>
   </li> -->